{% extends 'SATbase.html' %}
{% load static %}

{% block head %}
<title>Test 1</title>
{% endblock %}

{% block body %}
<div class="jumbotron text-center">
  <h1>SAT Practice Tests #1</h1>
</div>

<div class="ex1">

<h1>This test consist of 4 sections: </h1>
  <h2>Reading; 65 minutes timer for 52 questions.</h2>
  <h2>Writing and Language; 35 minutes timer for 44 questions.</h2>
  <h2>Math - No Calculator; 25 minutes timer for 20 questions.</h2>
  <h2>Math - Calculator; 55 minutes timer for 38 questions.</h2>
</div>
</div>

<p> When you are ready, Click on <a href="http://remeolong.pythonanywhere.com/SAT/tips">Next</a> to start. Good Luck! </p>



{% endblock %}