{% extends 'new.html' %}
{% load static %}

{% block header %}
  <li3>About Me:</li3>
{% endblock %}


{% block body %}
<br>
<div class="center">
    <p>A self-taught programmer who is passionate about creating, developing, and deploying software as well as web applications. </p>
    <p>My prior work experiences consist of Technical Support roles with various IT companies; Telecommunication, Alarm
        Security Systems, Hardware/Software, and Web Hosting.</p>
    <p>With each position, I was able to Develop and Refine my skills in Communications (within a Team setting as well
        as Customer interaction), Training (end-users, co-workers, and technicians on various topics including
        software/hardware products, features, and usage; troubleshooting methods, installation, among other topics),
        Troubleshooting, and Creating Technical Documentations.</p>
    <p>Having these skills and an education; Bachelor Degree in Computer Science, has helped with my transition from a
        Support based role to becoming a Developer/Programmer. I am able to troubleshoot issues thoroughly and can
        efficiently communicate steps that need to be taken to resolve those issues. I would also be able to write the
        documentation on how the problem was solved and in which manner.</p>
    <p>Currently, I have been building <a href="{% url 'Projects' %}">Web Applications</a> to further develop my
        programming skills. I'm using Python, Django Framework, HTML5, CSS, Javascript, and using GIT/Github to make my
        projects accessible online.</p>
    <p>I would Love to speak with you and your Team further regarding my qualifications and skills. I hope to speak with
        you soon but in the meantime, Please feel free to navigate my Portfolio to get a better understanding of my work.</p>
  </div>
</div>

{% endblock %}
