{% extends 'new.html' %}
{% load static %}

{% block header %}
  <li3>About Me:</li3>
{% endblock %}


{% block body %}
<br>
<div class="center">
    <p>A self-taught programmer who is passionate about creating, developing, and deploying software as well as web applications. </p>
    <p>I have a Bachelor's Degree in Computer Science but during my time in college, I was not able to fully appreciate
      the concepts of programming and therefore, decided not to follow that career path.</p>
    <p>I still wanted to work in the IT field but was unsure of which sector to pursue.</p>
    <p>This led my work history to consist of multiple Technical Support roles with different companies;
      telecommunication, alarm security systems, hardware/software, and web hosting.</p>
    <p>With each position, I was able to learn more about the IT sector as a whole, reigniting and finding purpose in
      programming. After years of avoiding programming, I was able to finally see the genius/beauty behind it.</p>
    <p>Since then, I have been re-teaching myself programming. Starting with the language, Python. After learning the
    basics of the language, I decide to start building web applications; using the Django framework, to include multiple
    functions and features. (Please click on <a href="{% url 'Projects' %}">Projects</a> to find out more.)</p>
    <p>My next step, is to pursue a career as a Python/Software Developer.</p>
  </div>
</div>

{% endblock %}
