{% extends 'new.html' %}
{% load static %}

{% block header %}
  <li3>Experiences:</li3>
{% endblock %}

{% block body %}
<div class="center">


    <a href="http://alula.com" target="_blank"
                ><img
                  alt="Alula logo"
                  src="/static/css/alula.png"
                  class="responsive-img center-block"
              /></a>
<p>
            <em class="grey-text"
              >Alula offer a complete end-to-end solution that integrates hardware and interactive services for a
              seamless security, automation and video experience.</em>
          </p>
          <h6><strong>Customer Success // June 2019 - April 2020 | Sugar Land, TX</strong></h6>
          <ul>
            <li>&#9642
              Provide business to business support, troubleshooting, and sales of software and hardware related issues.
            </li>
            <li>&#9642
              Train dealers on how to best utilize our software to improve their business efficiency.
            </li>
            <li>&#9642
              Create training materials with detailed instructions to provide dealers with proper instructions on
              installation of the Alarm systems as well as webinars on registration, navigation, and configuration in
              the dealer portal software.
            </li>
            <li>&#9642 Testing new and current products for software bugs and hardware issues.</li>
            </ul>
<br>
     <a href="http://entouch.net" target="_blank"
                ><img
                  alt="Entouch logo"
                  src="/static/css/entouch.png"
                  class="responsive-img center-block"
              /></a>
<p>
            <em class="grey-text"
              >enTouch, a provider of broadband, digital video, voice, security, and IoT services to businesses and
              homes in the Greater Houston area.</em>
          </p>
          <h6><strong>Quality Control Team Lead // May 2018 - May 2019 | Houston, TX</strong></h6>
          <ul>
            <li>&#9642
              Supervise and lead 2 Quality Control staff and 4 Alarm Programmers to optimize work flow with Service
              Order and troubleshooting audits.
            </li>
            <li>&#9642
              Responsible for reviewing and monitoring live Support Rep and Alarm Programmer calls to ensure proper
              troubleshooting and alarm programming.
            </li>
            <li>&#9642
              Responsible for training employees in Alarm programming and coaching tech support in customer service
              skill and troubleshooting methods.
            </li>
            <li>&#9642
              Develop and implement data analyses, data collection systems, and other strategies that optimize
              statistical efficiency and quality.
            </li>
            </ul>
       </div>

  {% endblock %}
