{% extends 'base.html' %}
{% load static %}

{% block body %}

  <section id="experience" class="section scrollspy">
    <h2 class="page-title black-text teal">Work History:</h2>
    <div class="container">
      <div class="row">
        <div class="col s12 m2">
          <a href="http://alula.com" target="_blank"
                ><img
                  alt="Alula logo"
                  src="/static/css/alula.png"
                  class="responsive-img center-block"
              /></a>
            </div>
            <div class="col s12 m10"></div>
          </div>
          <p>
            <em class="grey-text"
              >Alula offer a complete end-to-end solution that integrates hardware and interactive services for a
              seamless security, automation and video experience.</em>
          </p>
          <h6><strong>Customer Success // June 2019 - April 2020 | Sugar Land, TX</strong></h6>
          <ul>
            <li>&#9642
              Provide business to business support, troubleshooting, and sales of software and hardware related issues.
            </li>
            <li>&#9642
              Train dealers on how to best utilize our software to improve their business efficiency.
            </li>
            <li>&#9642
              Create training materials with detailed instructions to provide dealers with proper instructions on
              installation of the Alarm systems as well as webinars on registration, navigation, and configuration in
              the dealer portal software.
            </li>
            <li>&#9642 Testing new and current products for software bugs and hardware issues.</li>
            </ul>
        </div>
<br>
    <div class="container">
      <div class="row">
        <div class="col s12 m2">
              <a href="http://entouch.net" target="_blank"
                ><img
                  alt="Entouch logo"
                  src="/static/css/entouch.png"
                  class="responsive-img center-block"
              /></a>
            </div>
            <div class="col s12 m10"></div>
          </div>
          <p>
            <em class="grey-text"
              >enTouch, a provider of broadband, digital video, voice, security, and IoT services to businesses and
              homes in the Greater Houston area.</em>
          </p>
          <h6><strong>Quality Control Team Lead // May 2018 - May 2019 | Houston, TX</strong></h6>
          <ul>
            <li>&#9642
              Supervise and lead 2 Quality Control staff and 4 Alarm Programmers to optimize work flow with Service
              Order and troubleshooting audits.
            </li>
            <li>&#9642
              Responsible for reviewing and monitoring live Support Rep and Alarm Programmer calls to ensure proper
              troubleshooting and alarm programming.
            </li>
            <li>&#9642
              Responsible for training employees in Alarm programming and coaching tech support in customer service
              skill and troubleshooting methods.
            </li>
            <li>&#9642
              Develop and implement data analyses, data collection systems, and other strategies that optimize
              statistical efficiency and quality.
            </li>
            </ul>
       </div>
<br>
    <div class="container">
      <div class="row">
        <div class="col s12 m2">
              <a href="http://csispectrum.com" target="_blank"
                ><img
                  alt="CSI logo"
                  src="/static/css/csi.png"
                  class="responsive-img center-block"
              /></a>
            </div>
            <div class="col s12 m10"></div>
          </div>
          <p>
            <em class="grey-text"
              >CSI Software, a product division of Daxko, provides fully integrated, single source health and fitness
               club management software to health and fitness clubs, campus recreation centers, parks and recreation
               facilities, wellness centers and hotels and fitness resorts, as well as JCC organizations.</em>
          </p>
          <h6><strong>Software Support Specialist // March 2016 - January 2018 | Houston, TX</strong></h6>
          <ul>
            <li>&#9642
              Responsible for troubleshooting and answering questions relating to Spectrum NG software, equipment
              issue on dedicated servers and/or the cloud.
            </li>
            <li>&#9642
              Educated clients on how to best utilize the Spectrum NG software, specific to the customer’s business
              needs.
            </li>
            <li>&#9642
              Installed, configured, tested, and maintained computer hardware, software, and peripherals according to
              specific business needs.
            </li>
            <li>&#9642
              Monitored testing software for bugs, checked error logs to pinpoint errors message in database, and worked
              with other department for resolution.
            </li>
            </ul>
    </div>
<br>
    <div class="container">
      <div class="row">
        <div class="col s12 m2">
              <a href="http://hostgator.com" target="_blank"
                ><img
                  alt="HostGator logo"
                  src="/static/css/hostgator.png"
                  class="responsive-img center-block"
              /></a>
            </div>
            <div class="col s12 m10"></div>
          </div>
          <p>
            <em class="grey-text"
              >HostGator is a leading provider of  Shared, Reseller, VPS, and Dedicated web hosting.</em>
          </p>
          <h6><strong>Junior Administrator // February 2012 - October 2015 | Sugar Land, TX</strong></h6>
          <ul>
            <li>&#9642
              Maintained knowledge of WHM & Cpanel through continuous education to further provide superior
              technical support when dealing with customers.
            </li>
            <li>&#9642
              Managed billing issues and upselling additional services/products that would align with the customer needs
              better.
            </li>
            <li>&#9642
              Monitored performance and make modifications and adjustments to system architecture, storage methods,
              and management system software.
            </li>
            <li>&#9642
              Performed routine account maintenance upon customer request, including DNS updates, http changes, and
              mailman list setup.
            </li>
            </ul>
        </div>
<br>
    <div class="container">
      <div class="row">
        <div class="col s12 m2">
              <a href="http://bestbuy.com" target="_blank"
                ><img
                  alt="Best Buy logo"
                  src="/static/css/bestbuy.png"
                  class="responsive-img center-block"
              /></a>
            </div>
            <div class="col s12 m10"></div>
          </div>
          <p>
            <em class="grey-text"
              >Best Buy Co., Inc. is an American multinational consumer electronics retailer headquartered in Richfield,
               Minnesota.</em>
          </p>
          <h6><strong>Geek Squad Advance Repair // October 2012 - January 2015 | Las Vegas, NV</strong></h6>
          <ul>
            <li>&#9642
              Scanned computers, PC and laptop, for first security breach and removal of spyware and/or viruses.
            </li>
            <li>&#9642
              Resolved Desktop, Laptop, Mobile Devices, and Printer hardware and software issues; Operating systems
              upgrades (Windows 7, 8 Home, Vista, Ios, Androids).
            </li>
            <li>&#9642
              Set up and configured network connection with Wi-Fi on PC and mobile devices on company equipment.
            </li>
            <li>&#9642
              Provided documentation through an internal ticketing system for work orders.
            </li>
            </ul>
        </div>
<br>
    <div class="container">
      <div class="row">
        <div class="col s12 m2">
              <a href="http://staffmanagement.com" target="_blank"
                ><img
                  alt="Staff Management logo"
                  src="/static/css/staff.png"
                  class="responsive-img center-block"
              /></a>
            </div>
            <div class="col s12 m10"></div>
          </div>
          <p>
            <em class="grey-text"
              >Staff Management are experts in onsite contingent workforce management for your manufacturing,
               fulfillment and distribution facilities</em>
          </p>
          <h6><strong>Manufacturing Ops Associate // June 2008 - August 2012 | Houston, TX</strong></h6>
          <ul>
            <li>&#9642
              Installed and cabled computer hardware to created fully functionally HP desktop servers. And also worked
              with manager to write better policies to optimize workflow.
            </li>
            <li>&#9642
              Reviewed order documents to ensure that the server was built correctly with each hardware installed and
              cabling was place in a way where it would not affect functionally or crowd parts.
            </li>
            <li>&#9642
              Followed detailed PC blueprint to build functionally and customized HP desktop servers.
            </li>
            <li>&#9642
              Managed inventory, ordering, and identified all customized orders.
            </li>
            </ul>
        </div>
<br>
  </section>
  {% endblock %}
