{% extends 'new.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block body %}

  <section id="experience" class="section scrollspy">
    <h2 class="page-title black-text teal">2nd Experiences</h2>
      <div class="container">
      <div class="row">
        <div class="col s12 m2">
              <a href="http://csispectrum.com" target="_blank"
                ><img
                  alt="CSI logo"
                  src="/static/css/csi.png"
                  class="responsive-img center-block"
              /></a>
            </div>
            <div class="col s12 m10"></div>
          </div>
          <p>
            <em class="grey-text"
              >CSI Software, a product division of Daxko, provides fully integrated, single source health and fitness
               club management software to health and fitness clubs, campus recreation centers, parks and recreation
               facilities, wellness centers and hotels and fitness resorts, as well as JCC organizations.</em>
          </p>
          <h6><strong>Software Support Specialist // March 2016 - January 2018 | Houston, TX</strong></h6>
          <ul>
            <li>&#9642
              Responsible for troubleshooting and answering questions relating to Spectrum NG software, equipment
              issue on dedicated servers and/or the cloud.
            </li>
            <li>&#9642
              Educated clients on how to best utilize the Spectrum NG software, specific to the customer’s business
              needs.
            </li>
            <li>&#9642
              Installed, configured, tested, and maintained computer hardware, software, and peripherals according to
              specific business needs.
            </li>
            <li>&#9642
              Monitored testing software for bugs, checked error logs to pinpoint errors message in database, and worked
              with other department for resolution.
            </li>
            </ul>
    </div>
<br>
    <div class="container">
      <div class="row">
        <div class="col s12 m2">
              <a href="http://hostgator.com" target="_blank"
                ><img
                  alt="HostGator logo"
                  src="/static/css/hostgator.png"
                  class="responsive-img center-block"
              /></a>
            </div>
            <div class="col s12 m10"></div>
          </div>
          <p>
            <em class="grey-text"
              >HostGator is a leading provider of  Shared, Reseller, VPS, and Dedicated web hosting.</em>
          </p>
          <h6><strong>Junior Administrator // February 2012 - October 2015 | Sugar Land, TX</strong></h6>
          <ul>
            <li>&#9642
              Maintained knowledge of WHM & Cpanel through continuous education to further provide superior
              technical support when dealing with customers.
            </li>
            <li>&#9642
              Managed billing issues and upselling additional services/products that would align with the customer needs
              better.
            </li>
            <li>&#9642
              Monitored performance and make modifications and adjustments to system architecture, storage methods,
              and management system software.
            </li>
            <li>&#9642
              Performed routine account maintenance upon customer request, including DNS updates, http changes, and
              mailman list setup.
            </li>
            </ul>
        </div>
      <br>

  </section>
  {% endblock %}