{% extends 'new.html' %}
{% load static %}

{% block header %}
  <li3>Projects:</li3>
{% endblock %}

{% block body %}
<div class="center">
<h1><a href="http://forevernails.pythonanywhere.com/">Forever Nails & Spa</a></h1>
<p>Using Python,
    Django framework, HTML5, CSS, GIT, and Javascript to build an web application for a small business that specialized in Nails
    & Beauty Spa. Current functions & features includes: customer registration and login. Working on adding scheduling
    appointment, employee login, clock in/out, services provided on daily/monthly/yearly basis, owner/admin login,
    employee's timesheet, and service performed on daily/monthly/yearly basis. </p>

<br>
    <h1><a href="{% url 'SAT:SAT_Home' %}">SAT Practice Tests</a></h1>
<p>Using Python,
    Django framework, HTML5, CSS, GIT, and Javascript to build a testing application for SAT preparation.</p> </div>
  </div>
</div>


{% endblock %}
