body {
    padding:0;
    margin:0;
    overflow:hidden;
	height: 600px;
}
canvas {
    padding:0;
    margin:0;
}
div.btnbg {
    position:fixed;
    left:0;
    top:0;
}

h1 {
  font-size: 100px;
  text-align: center;
  color: white;
  font-family: 'lobster';
}

h2 {
font-size: 100px;
  text-align: center;
  color: black;
  font-family: 'lobster';
}

p {
    text-align: center;
    color: black;
}

.fa-linkedin {
  color: white;
}

.fa-github {
  color: white;
}

.fa-twitter {
  color: white;
}

.fa-envelope {
  color: white;
}

div.ex1 {
  width: 1200px;
  margin: auto;
}

div.ex2 {
  width: 1700px;
  margin: auto;
}

