div.ex1 {
  width: 1200px;
  margin: auto;
}

div.ex2 {
  width: 1700px;
  margin: auto;
}

h1 {
  font-size: 100px;
  text-align: center;
}

h2 {
font-size: 100px;
  text-align: left;
}

h3 {
font-size: 75px;
  text-align: center;
  color: grey;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: right;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
