<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<style>
div.ex1 {
  width: 1000px;
  margin: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li2 {
  float: right;
}

li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

li2 a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

</style>

{% block head %}
{% endblock %}
</head>
<body>
<ul>
  <li><a href="https://remeolong.pythonanywhere.com/Projects">Back to Projects</a></li>
  <li><a href="https://remeolong.pythonanywhere.com">Portfolio Home</a></li>
  <li><a href="home">SAT Home</a></li>

  <li2><a href="practice_test_6">Test 6</a></li2>
  <li2><a href="practice_test_5">Test 5</a></li2>
  <li2><a href="practice_test_4">Test 4</a></li2>
  <li2><a href="practice_test_3">Test 3</a></li2>
  <li2><a href="practice_test_2">Test 2</a></li2>
  <li2><a href="practice_test_1">Test 1</a></li2>
  <li2><a href="tips">Tips & Tricks</a></li2>
</ul>

{% block body %}
{% endblock %}
</body>
<footer>
    <ul>
  <li2><a href="terms">Terms of Use</a></li2>
  <li2><a href="policy">Privacy Policy</a></li2>
      </ul>
</footer>
</html>